<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<title>7 Segment Editor</title>
	<script src="7seg.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<body>
	<noscript>
		<div class="noscriptwarn">Please activate Javascript und reload!</div>
	</noscript>
	<div id="display" style="font-family: 'Roboto', sans-serif;">
		<h1>7 Segment Editor<a id="gitlink" class="tooltip" href="https://gitlab.com/lennart9499/7-segment-byte-selector"><span class="tooltiptext">View project on GitLab</span><i class="fab fa-gitlab"></i></a></h1>
		<div id="center">
			<div id="clock-container">
				<div id="display-1" class="segcontainer display-no-0">
					<div id="a" class="hseg segment-a toggleSeg"><span class="segborder"></span></div>
					<div id="b" class="vseg segment-b toggleSeg"><span class="segborder"></span></div>
					<div id="c" class="vseg segment-c toggleSeg"><span class="segborder"></span></div>
					<div id="d" class="hseg segment-d toggleSeg"><span class="segborder"></span></div>
					<div id="e" class="vseg segment-e toggleSeg"><span class="segborder"></span></div>
					<div id="f" class="vseg segment-f toggleSeg"><span class="segborder"></span></div>
					<div id="g" class="hseg segment-g toggleSeg"><span class="segborder"></span></div>
				</div>
			</div>
		</div>

		<button class="presetButton" id="upper">Preset Upper 7 Segment</button></br>
		<button class="presetButton" id="lower">Preset Lower 7 Segment</button>

		<p style="font-family: 'Roboto', sans-serif;" id="templ">Template: </p>
		<textarea style="font-size: 20px; font-family: monospace;" id="template">*addr = 0b%bitstring%;</textarea>

		<p style="font-family: 'Roboto', sans-serif;" id="templ">Output<span id="copied"></span>: </p>
		<textarea style="font-size: 20px; font-family: monospace;" id="cpy" readonly="readonly"></textarea>

		<div id="columns">
			<div class="blob" id="bit0"><div style="float: left;">Bit 0</div><div class="column" draggable="true"><header id="sega">Seg A</header></div></div>
			<div class="blob" id="bit1"><div style="float: left;">Bit 1</div><div class="column" draggable="true"><header id="segb">Seg B</header></div></div>
			<div class="blob" id="bit2"><div style="float: left;">Bit 2</div><div class="column" draggable="true"><header id="segc">Seg C</header></div></div>
			<div class="blob" id="bit3"><div style="float: left;">Bit 3</div><div class="column" draggable="true"><header id="segd">Seg D</header></div></div>
			<div class="blob" id="bit4"><div style="float: left;">Bit 4</div><div class="column" draggable="true"><header id="sege">Seg E</header></div></div>
			<div class="blob" id="bit5"><div style="float: left;">Bit 5</div><div class="column" draggable="true"><header id="segf">Seg F</header></div></div>
			<div class="blob" id="bit6"><div style="float: left;">Bit 6</div><div class="column" draggable="true"><header id="segg">Seg G</header></div></div>
			<div class="blob" id="bit7"><div style="float: left;">Bit 7</div><div class="column" draggable="true"><header id="segempt">LEER</header></div></div>
		</div>
	</div>
	<br>
	<div id="colorsel">
		<input type="color" id="head" name="head" value="#1200ee">
		<label for="head">7-Segment display</label>
	</div>
</body>
