:root {
  --main-7seg-color: #1200ee;
}

html {
	background-image: url("back.jpg");
	background-attachment: fixed;
}

body {
	margin: 3%;
	padding: 20px;
	background: #ffffffee;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

/* Middle Segment */

.segcontainer {
	margin-bottom: 24px;
	margin-right: 24px;
	position: relative;
	float: left;
	width: 122px;
	height: 220px;
	zoom: 200%;
}

.segcontainer div {
	position: absolute;
}

.segcontainer .hseg {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid var(--main-7seg-color);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent
}

.segcontainer .vseg {
	height: 72px;
	width: 0;
	border-right: 12px solid var(--main-7seg-color);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent
}

.segcontainer .hseg .segborder {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid var(--main-7seg-color);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent
}

.segcontainer .vseg .segborder {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid var(--main-7seg-color);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent
}

.segcontainer .segment-a {
	top: 0
}

.segcontainer .segment-b {
	top: 13px;
	left: 98px
}

.segcontainer .segment-c {
	top: 111px;
	left: 98px
}

.segcontainer .segment-d {
	top: 196px
}

.segcontainer .segment-e {
	top: 111px;
	left: 0
}

.segcontainer .segment-f {
	top: 13px;
	left: 0
}

.segcontainer .segment-g {
	top: 98px
}


.segborder {
	display: block;
	position: absolute
}


#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 850px) {
	#center {
		position: initial;
		top: 0%;
		left: 0%;
		transform: translate(0%, 0%);
	}
}

/* dragging stuf */
[draggable] {
	user-select: none;
}

.column {
	width: 80px;
	border: 2px solid #666666;
	background-color: #aaa;
	border-radius: 10px;
	text-align: center;
	cursor: move;
	float: right;
}

.column header {
	color: #fff;
	padding: 5px;
	overflow: hidden;
}

.column.over {
	border: 2px dashed #000;
}

.blob {
	background-color: #444;
	margin: 4px;
	padding: 4px;
	color: #fff;
	border-radius: 5px;
	float: left;
	width: 150px;
}

#columns {
	width: 200px;
	height: 420px;
	font-size: 20px;
}

.toggleSeg {
	opacity: 0.2;
}

.toggleHighlight {
	background-color: #FF6C00;
}

.presetButton {
	margin: 10px 0;
	font-size: 20px;
}

#gitlink {
	float: right;
	font-size: 40px;
	color: #ddd;
	transition-duration: 0.5s;
}

#gitlink:hover {
	color: #FC6D26;
	transition-duration: 0.5s;
}

/* Hinting text*/

.tooltip {
  position: relative;
  display: inline-block;
}

.noscriptwarn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #dc3546;
	opacity: 1;
	width: 80%;
	height: 20em;
	color: #fff;
	line-height: 20em;
	font-size: 2em;
	text-align: center;
	padding: 0.1em;
	z-index: 10;
	border-radius: 0.5em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
	font-size: 15px;

	opacity: 0;
  transition-duration: 0.5s;

  /* Position the tooltip */
	/* bottom */
	/*
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  */
	/* left */

	position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
	opacity: 1;
	transition-duration: 0.5s;
}
